[client]
password = root
port = {{ mysql_port }}
socket = /var/lib/mysql/mysql.sock

[mysqld]
port = {{ mysql_port }}
bind-address = {{ mysql_bind_address }}
datadir = {{ mysql_datadir }}
socket = /var/lib/mysql/mysql.sock
